In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
file = '../data/green_tripdata_2019-01.csv'

In [7]:
data = pd.read_csv(file)

In [24]:
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [27]:
data.shape

(630918, 20)

In [18]:
data['lpep_pickup_datetime'] = pd.to_datetime(data.lpep_pickup_datetime)
data['lpep_dropoff_datetime'] = pd.to_datetime(data.lpep_dropoff_datetime)

In [11]:
engine = create_engine('postgresql://taxi_ny:taxi_ny@192.168.1.24:5432/taxi_ny')

In [12]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(data,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [22]:
data.head(0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

0

In [23]:
df_iterator = pd.read_csv(file,iterator=True,chunksize=100000)

i = 0
while True:

    data_iterator = next(df_iterator)
    i += 1

    data_iterator['lpep_pickup_datetime'] = pd.to_datetime(data_iterator.lpep_pickup_datetime)
    data_iterator['lpep_dropoff_datetime'] = pd.to_datetime(data_iterator.lpep_dropoff_datetime)

    data_iterator.to_sql(name='green_taxi_data',con=engine,if_exists='append')

    
    print('Insert {}'.format(i))

Insert 1
Insert 2
Insert 3
Insert 4
Insert 5
Insert 6
Insert 7

StopIteration: