In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').appName('05 DataFrame') \
.getOrCreate()

In [3]:
df_yellow = spark.read.parquet('../data/s3/yellow_tripdata_2021-01.parquet',inferSchema=True)

In [6]:
df_green = spark.read.parquet('../data/s3/green_tripdata_202*-01.parquet',inferSchema=True)

In [9]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'airport_fee']

In [10]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [13]:
set(df_yellow.columns) & set(df_green.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [14]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime','tpep_pickup_datetime')
df_green = df_green.withColumnRenamed('lpep_dropoff_datetime','tpep_dropoff_datetime')

In [16]:
df_green.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [20]:
comon_columns = []

for col in df_green.columns:
    if col in df_yellow.columns:
        comon_columns.append(col)

In [22]:
from pyspark.sql import functions as F

In [29]:
df_green_sel = df_green.select(comon_columns)\
    .withColumn('service_type',F.lit('green'))

In [28]:
df_yellow_sel = df_green.select(comon_columns)\
    .withColumn('service_type',F.lit('yellow'))

In [30]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [31]:
df_trips_data

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, store_and_fwd_flag: string, RatecodeID: double, PULocationID: bigint, DOLocationID: bigint, passenger_count: double, trip_distance: double, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, payment_type: double, congestion_surcharge: double, service_type: string]

In [33]:
print(df_green_sel.count(),
      df_yellow_sel.count(),
      df_trips_data.count())

139013 139013 278026

In [35]:
df_trips_data.groupBy('service_type').count().show()

+------------+------+
|service_type| count|
+------------+------+
|       green|139013|
|      yellow|139013|
+------------+------+

In [37]:
df_trips_data.createGlobalTempView('df_trips')

In [39]:
spark.sql('''
    SELECT * FROM df_trips LIMIT 10
''').show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|payment_type|congestion_surcharge|service_type|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+
|       2| 2020-12-31 19:15:56|  2020-12-31 19:19:52|                 N|       1.0|          43|         151|            1.0|         1.01|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|         2.0|                 0.0|       green|
|       2| 2020-12-31 19:25:59|  2020-12-31 19:34:44|                 N|       1.0|         166|         239|            1.0|         2.53|       10.0|  0.5|    0.5|      2.81|         0.0|                  0.3|       16.86|         1.0|                2.75|       green|
|       2| 2020-12-31 19:45:57|  2020-12-31 19:51:55|                 N|       1.0|          41|          42|            1.0|         1.12|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|         1.0|                 0.0|       green|
|       2| 2020-12-31 18:57:51|  2020-12-31 19:04:56|                 N|       1.0|         168|          75|            1.0|         1.99|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         9.3|         2.0|                 0.0|       green|
|       2| 2020-12-31 19:16:36|  2020-12-31 19:16:40|                 N|       2.0|         265|         265|            3.0|          0.0|      -52.0|  0.0|   -0.5|       0.0|         0.0|                 -0.3|       -52.8|         3.0|                 0.0|       green|
|       2| 2020-12-31 19:16:36|  2020-12-31 19:16:40|                 N|       2.0|         265|         265|            3.0|          0.0|       52.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        52.8|         2.0|                 0.0|       green|
|       2| 2020-12-31 19:19:14|  2020-12-31 19:19:21|                 N|       5.0|         265|         265|            1.0|          0.0|      180.0|  0.0|    0.0|     36.06|         0.0|                  0.3|      216.36|         1.0|                 0.0|       green|
|       2| 2020-12-31 19:26:31|  2020-12-31 19:28:50|                 N|       1.0|          75|          75|            6.0|         0.45|        3.5|  0.5|    0.5|      0.96|         0.0|                  0.3|        5.76|         1.0|                 0.0|       green|
|       2| 2020-12-31 19:57:46|  2020-12-31 19:57:57|                 N|       1.0|         225|         225|            1.0|          0.0|        2.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         3.8|         2.0|                 0.0|       green|
|       2| 2020-12-31 19:58:32|  2020-12-31 20:32:34|                 N|       1.0|         225|         265|            1.0|        12.19|       38.0|  0.5|    0.5|      2.75|         0.0|                  0.3|       42.05|         1.0|                 0.0|       green|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------------------+------------+------------+--------------------+------------+